.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 8px 0;
}

.embla__slide {
  flex: 0 0 80%;
  width: 80%;
  height: calc(100% - 40px);
  margin: 0 8px;
  padding: 20px 20% 20px 20px;
  border-radius: 28px;
  text-wrap: balance;
  color: #333;
  box-shadow: 0 0 0 4px inset #0009;
  opacity: 0.4;
  user-select: none;
  box-shadow: 0 0 0 4px #9995 inset;
  will-change: height, border-radius, filter;
  transition:
    height var(--easing-duration-medium4) var(--easing-standard-decelerate),
    box-shadow var(--easing-duration-medium4) var(--easing-standard-decelerate),
    border-radius var(--easing-duration-medium4)
      var(--easing-standard-decelerate),
    opacity var(--easing-duration-medium4) var(--easing-standard);
}

@media (max-width: 1250px) {
  .embla__slide {
    padding: 20px;
  }
}

.embla__slide > .metadata {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: opacity var(--easing-duration-medium4) var(--easing-standard);
}

.embla__slide.is-snapped {
  height: 100%;
  opacity: 1;
  box-shadow: none;
}

.embla__slide.is-snapped > .metadata {
  opacity: 1;
  transition: opacity var(--easing-duration-medium4) var(--easing-standard)
    var(--easing-duration-short4);
}
